@font-face {
    font-family: 'Aileron-Regular' !important;
    src:
        url('/font/Aileron-Regular.otf') format('opentype') !important;
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Aileron-Regular.otf', sans-serif !important;

}

* {
    margin: 0;
    padding: 0;
    /* font-family: 'Aileron-Regular.otf', sans-serif !important; */
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none !important;
}

/* header */
header {
    background-color: #0b142c;
}

header .social-icon {
    width: 100%;
    background-color: #0b142c !important;
    display: flex;
    justify-content: end;
    padding: 0 10px;
    /* border-bottom:1px solid #fff ; */
    border-bottom: 1px solid transparent;
    border-image: linear-gradient(0.25turn, #0000, #c0c0c0);
    border-image-slice: 1;
    width: 100%;
}

header .social-icon ul li {
    display: inline-block !important;
    padding: 10px;
}

header .social-icon ul li [class*="fa"] {
    background: linear-gradient(to right, #ffc600, #ff4337);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

header .navbar-expand-lg {
    background-color: #0b142c !important;
    padding: 11px 0;
    box-shadow: 1px 1px 10px #070e20;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
    font-size: 18px;
    padding: 10px 10px;
    margin: 0 10px;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: #ff4337;
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show>.nav-link {
    color: #ff4337;
}

header .login-btn {
    padding: 10px 20px;
    border: 2px solid #ffc600;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
}

header .login-btn:hover {
    border: 2px solid #ffc600;
    color: #000;
    background-color: #ffc600;
}

.navbar-collapse {
    margin-top: 15px;
}

/* 
.navbar .container {
    padding-left:  12px 58px !important;
    
} */
.navbar-light .navbar-toggler-icon {
    background-image: url(/images/bar_line.svg);
}

.navbar-toggler:focus {
    box-shadow: 0 0 0;
}

.navbar-light .navbar-toggler {
    float: right;
    padding: 5px 0px !important;
}

/* banner-sec */
.banner-sec {
    width: 100%;
    padding: 50px 0;
    background-color: #0b152f;
    overflow: hidden;
}

.banner-sec .banner-title h2 {
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 40px;
    text-align: center;
}

.ground-boxs .col-lg-4 {
    position: relative;
    z-index: 0;
}

.banner-sec .ground-boxs .ground-box {
    background-image: linear-gradient(#112563, #1e45bb, #112563);
    border-radius: 10px;
    padding: 14px 14px 30px 14px;
    text-align: center;
    margin-bottom: 22px;
    cursor: pointer;
}

.banner-sec .ground-boxs .ground-box:hover {
    background-image: linear-gradient(#2c52b1, #5975c8, #2c52b1);
    transition: 0.5s all;

}

.banner-sec .ground-boxs .ground-box .box-img {
    background-image: linear-gradient(to right, #ffc600, #ff4337);
    border-radius: 50%;
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    margin: auto;
}

.banner-sec .ground-boxs .ground-box h6 {
    color: #fff;
    margin-top: 10px;
    font-size: 16px;
    font-weight: 600;
}

.ground-boxs-services {
    margin: 20px 0;
}

.ground-boxs-services-box {
    background-color: #153286;
    border-radius: 10px;
    padding: 10px 0;
    margin-bottom: 20px;
    z-index: 0;
    transition: 0.5s all;
}

.ground-boxs-services-box:hover {
    background-color: #4c5c8d;
}



.banner-sec .ground-boxs .ground-boxs-services-box::after {
    background-color: #102667;
    clip-path: polygon(0% 0%, 100% 0%, 100% 91%, -130% 234%);
    content: "";
    border-bottom-left-radius: 14px;
    position: absolute;
    width: 100%;
    height: 368px;
    z-index: -10;
    transform: translate(0%, -97%);
}

.banner-sec .ground-boxs .gbsb_four::after,
.banner-sec .ground-boxs .gbsb_five::after {
    clip-path: polygon(0% 0%, 100% 0%, 100% 153%, -16% 82%);
    border-bottom-right-radius: 14px;
    transform: translate(-11%, -97%);
}

.banner-sec .ground-boxs .gbsb_one::after {
    clip-path: polygon(11% 0%, 100% 0%, 105% 88%, -349% 352%);
    border-bottom-left-radius: 14px;
    transform: translate(0%, -97%);
}

.banner-sec .ground-boxs .gbsb_six::after {
    clip-path: polygon(0% -49%, 100% 7%, 100% 153%, -16% 82%);
    border-bottom-right-radius: 14px;
    transform: translate(-11%, -97%);
    z-index: -10;
}

.ground-boxs-services-box .service {
    text-align: center;
    margin-top: 12px;
    height: 96px;
}

.ground-boxs-services-box .boorders {

    border-bottom: 1px solid #adadad;
}

.ground-boxs-services-box .service p {
    margin-top: 14px;
    color: #fff;
}

.rubikole-title {
    clip-path: polygon(3% 0%, 97% 0, 100% 100%, 0% 100%);
    background-color: #0b142c;
    padding: 8px 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rubikole-title h5 {
    color: #fff;
    margin: 0;
    margin-left: 10px;
}

.rubikole .rubikole-box {
    background-color: #0d1d49;
    padding: 30px 0;
    text-align: center;
    border-right: 2px solid #071027;
    border-left: 2px solid #12296e;



}

.rubikole .rubikole-box p {
    color: #fff;
    font-size: 18px;
    margin: 0;
}

/* secation-1 */
.secation-1 {
    padding: 80px 0;
    overflow: hidden;
    background-color: #f7f8fc;
}

.secation-1 .sec-boxs {
    padding: 40px 20px;
    box-shadow: 1px 1px 10px #c5eafd;
    border-radius: 12px;
    margin-bottom: 30px;
    transition: 0.5s all;
}

.secation-1 .sec-boxs:hover {
    background-color: #0d1d49;
    color: #fff;
}

.secation-1 .sec-boxs:hover a {
    color: #fff;
}

.secation-1 .sec-boxs img {
    height: 50px;
}

.secation-1 .sec-boxs h4 {
    font-size: 22px;
    font-weight: 600;
    margin: 20px 0;
}

.secation-1 .sec-boxs a {
    font-size: 20px;
    font-weight: 600;
    color: #000;
    text-decoration: underline !important;
}

.secation-1 .sec-boxs a:hover {
    color: #ff4337;
}

/* secation-2 */
.secation-2 {
    padding: 100px 0;
}

.secation-2 .sec-2-image {
    width: 350px;
    height: 350px;
    background-color: #fcf6de;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.secation-2 .sec-2-image-02 {
    background-color: #ffe1eb;
}

.secation-2 .sec-2-image-03 {
    background-color: #f3f3f3;
}

.secation-2 .sec-2-image img {
    width: 100%;

}

.secation-2 .sec-title h2 {
    font-size: 40px;
    font-weight: 700;
    margin: 20px 0;
    text-align: center;
}

.secation-2 .sec-title h2 span {
    color: #ffc600;
}

.secation-2 .platfrom .row {
    align-items: center;
}

.secation-2 .platfrom .platfrom-text h4 {
    color: #383838;
    font-weight: 600;
}

.secation-2 .platfrom {
    margin-bottom: 30px;
}

.sec_title h2 {
    font-size: 42px;
    font-weight: 800;
    margin: 20px 0px 40px;
    text-align: center;
    color: #383838;
}

.sec_title h2 span {
    color: #ffc600;
}

/* .secation-3 */
.secation-3 {
    background-color: #383838;
    padding: 80px 0;
    height: 350px;
    position: relative;
}

.secation-3 .sec_3_shape {
    background-image: url(../images/shape-left.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 500px;
    display: inline-block;
    position: absolute;
    left: 0;
    opacity: 0.2;

}

.secation-3 .container {
    position: relative;
}

.secation-3 .sec_title h2 {
    color: #fff;
}

.secation-3 .sec_title p {
    font-size: 20px;
    text-align: center;
    color: #fff;
}

.secation-3 .deploy-img {
    background-color: #fff;
    box-shadow: 0px 1px 20px #00000091;
    padding: 20px 20px;
    border-radius: 14px;
    margin-bottom: 30px;
}

.secation-3 .deploy-img img {

    height: 240px;
}

.secation-3 .right-img {
    display: flex;
    justify-content: end;

}

.secation-3 .deploy-round {
    width: 250px;
    height: 250px;
    background-image: linear-gradient(#ffc600, #ff4337);
    border-radius: 50%;
    text-align: center;
    line-height: 250px;
    position: relative;
}

.secation-3 .deploy-round .d-r {

    position: relative;
    z-index: 1;
}

.secation-3 .deploy-round .bote-bg {
    position: absolute;
    top: 0;
    z-index: 0;
    left: -30px;
}

.secation-3 .deploy {
    position: relative;
}

.secation-3 .deploy-center {
    position: absolute;
    top: 5%;
    left: 0;
    right: 0;
    width: 274px;
    margin: auto;
}

.secation-3 .main-deploy {
    width: 100%;
}

.sec_3_empty {
    height: 250px;
}

/* section-4  */
.section-4 .Devops_Lifecycle {
    position: relative;
}

.section-4 {
    padding: 100px 0;
}

.section-4 .Devops_Lifecycle .Devops_Lifecycle_round {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    background-image: linear-gradient(to right, #fec600, #fd8203);
    box-shadow: inset 0px 3px 11px #0000006b;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    margin-bottom: 40px;
    position: relative;
}

.section-4 .Devops_Lifecycle .four .Devops_Lifecycle_round::before {
    position: absolute;
    content: "";
    width: 280px;
    border-top: 2px dashed #8c8c8c;
    border-right: 2px dashed #8c8c8c;
    height: 100px;
    border-radius: 0px 10px 0px 0px;
    top: 50%;
    z-index: -1;
}

.section-4 .Devops_Lifecycle .five .Devops_Lifecycle_round::before {
    position: absolute;
    content: "";
    width: 280px;
    border-top: 0px dashed #8c8c8c;
    border-bottom: 2px dashed #8c8c8c;
    border-left: 2px dashed #8c8c8c;
    border-right: 0px dashed #8c8c8c;
    height: 100px;
    border-radius: 0px 0px 0px 10px;
    top: -8%;
    z-index: -1;
}

.section-4 .Devops_Lifecycle .eight .Devops_Lifecycle_round::before {
    position: absolute;
    content: "";
    width: 280px;
    border-top: 0px dashed #8c8c8c;
    border-bottom: 2px dashed #8c8c8c;
    border-right: 2px dashed #8c8c8c;
    height: 100px;
    border-radius: 0px 0px 10px 0px;
    top: -8%;
    z-index: -1;
}

.section-4 .Devops_Lifecycle .one .Devops_Lifecycle_round::before {
    position: absolute;
    content: "";
    width: 280px;
    border-top: 2px dashed #8c8c8c;
    border-left: 2px dashed #8c8c8c;
    height: 100px;
    border-radius: 14px 0px 0px 0px;
    top: 50%;
    z-index: -1;
}

.section-4 .Devops_Lifecycle .three .Devops_Lifecycle_round::before {
    border-left: 0px dashed #8c8c8c;
    border-radius: 0px 0px 0px 0px;

}

.section-4 .Devops_Lifecycle .Devops_Lifecycle_round::before {
    position: absolute;
    content: "";
    width: 280px;
    border-top: 2px dashed #8c8c8c;
    height: 1px;
    top: 50%;
    z-index: -1;
}

.section-4 .col-lg-3 {
    position: relative;
}

.section-4 .one:after {
    background-image: url(/images/yellow-left.png);
    background-repeat: no-repeat;
    position: absolute;
    content: "";
    width: 62px;
    height: 24px;
    top: 35%;
    right: -10%;
    /* left: 0; */
    z-index: 0;
}

.section-4 .two::after {
    background-image: url(/images/pink-right.png) !important;
    position: absolute;
    content: "" !important;
    width: 62px;
    height: 24px;
    top: 35%;
    right: -10%;
    /* left: 0;  */
    z-index: 0;
}

.section-4 .four:after {
    background-image: url(/images/pink-bottom.png);
    background-repeat: no-repeat;
    position: absolute;
    content: "";
    width: 24px;
    height: 62px;
    top: 73%;
    right: 4%;
    /* left: 0; */
    z-index: 999;
}

.section-4 .five:after {
    background-image: url(/images/pink-top.png);
    background-repeat: no-repeat;
    position: absolute;
    content: "";
    width: 24px;
    height: 62px;
    top: -21%;
    /* right: 4%; */
    left: 14px;
    z-index: 999;
}

.section-4 .six::after {
    background-image: url(/images/yellow-right.png) !important;
    position: absolute;
    content: "" !important;
    width: 62px;
    height: 24px;
    top: 35%;
    left: -10%;
    /* right: 0; */
    z-index: 0;
}

.section-4 .seven::after {
    background-image: url(/images/pink-left.png) !important;
    position: absolute;
    content: "" !important;
    width: 62px;
    height: 24px;
    top: 35%;
    left: -10%;
    /* right: 0; */
    z-index: 0;
}

.section-4 .Devops_Lifecycle .pink-round {
    background-image: linear-gradient(to right, #ff8487, #fa1a5d);
}

.Devops_Lifecycle_round img {
    max-width: 100%;
    margin-bottom: 12px;
}

.Devops_Lifecycle_round .Lifecycle-img {
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 100px;
}

.Devops_Lifecycle_round h5 {
    font-size: 20px;
    font-weight: 600;
    color: #fff;
}

#key-platfrom .owl-buttons {
    display: none;
}

#key-platfrom .owl-pagination .owl-page span {
    width: 14px;
    height: 14px;
    border: 4px solid #fff;
    outline: 1px solid #102667;
    padding: 6px;
    background: transparent;
}

#key-platfrom .owl-pagination .active span {
    background-image: linear-gradient(to bottom, #ffc600, #ff4337);
}

/* section-5 */
.section-5 {
    background-color: #eef9fd;
    padding: 100px;
}

.section-5 .sec_title h4 {
    font-weight: 800;
    font-size: 24px;
    text-align: center;
    color: #383838;
    margin-bottom: 30px;
}

.section-5 .sec_title p {
    text-align: center;
    color: #383838;
    font-size: 18px;
    margin: 0;
}

.section-5 .sec_support {
    padding: 70px 0;
}

.hexagon_div {
    display: inline-block;
    position: relative;
    width: 150px;
    height: 88px;
    margin: 44px 0;
    border-radius: 8px/16px;
    background: #fff;
    text-align: center;
    text-decoration: none;
    box-shadow: 0px 0px 15px #b9eafe;
    line-height: 86px;
}

.hexagon_div:before,
.hexagon_div:after {
    content: "";
    position: absolute;
    left: 0;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    background: inherit;

}

.hexagon_div:before {
    transform: rotate(60deg);
    box-shadow: 10px 0px 15px -8px #b9eafe;
}

.hexagon_div:after {
    transform: rotate(-60deg);
    box-shadow: -10px 0px 15px -10px #b9eafe;
}

.hexagon_div img {
    position: relative;
    z-index: 1;
}

.sec_support {
    /* --auto-grid-min-size: 8rem;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr)); */
   display: flex;
}